.flip
  .midpage
    %img(src="#{@genre.path}" class="genpic")
    .box
      %h2.santa Books in #{@genre.name}:
    
    .blip
      - @books.each do |book|
        %tr
          %td= link_to book.title.capitalize, book
          %br/
          %br/

  
    =link_to "Back to Subjects", "/genres/"
