<html>
  <body>

    <h1> Aw, yes! Your account has been activated.</h1>

    <h2>Click here to login:</h2>
    <h3> <%= login_url %></h3>

    <p>
      Your friends at
      www.shelfwire.org
    </p>

  </body>
</html>
