<!DOCTYPE html>
<html>
  <body>
    <h1> Oh hello Captain </h1>
     <h2> <%= '#{@contact.contactor}'%> sent you a message on Shelfwire. </h2>

       <h3>Subject: <%= '#{@contact.subject}'%></h3>

       <p>"<%= '#{@contact.body}' %> "</p>
       <br>
  </body>
</html>