!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hey there #{@user.username},
    %h2 One of your neighbors sent you a request on Shelfwire.
    %p
      %br/
    %p
    %p Thanks for joining and have a great day!