<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Shelfwire.org, <%= @user.username %></h1>
    <h2>We're glad you made it.</h2>
    <p>
      You have successfully signed up to shelfwire.org,
      your shiny new username is: <%= @user.username %>.<br/>
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>