%p#notice= notice
- if is_me? @user.id
  %h1 THIS IS ME
%p
  %h1= @user.username.capitalize
%p
  Here will be some info on this user
%p
  %b Email:
  = @user.email
- if is_me? @user.id
  = link_to 'Edit', edit_user_path(@user)
%p

%span#messagebox
  .link=link_to 'See Bookshelf', :book_user
%br
  .link=link_to 'Home', :root
  .link=link_to 'Back to Mates', :users
  
