#bookshelf.clearfix
  %table
    %tr
      %th Book Title
      %th Author
    - books = Book.all
    - books.each do |book|
      %tr
        %td= link_to book.title, book
        %td= book.author
        %td= link_to "Edit", edit_book_path(book)
        %td= link_to "Remove", book, :method => :delete
  - if books.empty?
    %em No books on this shelf yet
