<!DOCTYPE html>
<LINK REL=StyleSheet src="home.css" TYPE="text/css" MEDIA=screen>

<html>
  <head>
    <title>Welcome to Hopshelf</title>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
      <img src="/assets/archives-01.png">
        <ul id="sidebar-items">
          <li>
            <h3>There will be some links</h3>
            <ul class="links">
              <li><a href="http://guides.rubyonrails.org/">Regions</a></li>
              <li><a href="http://api.rubyonrails.org/">Subjects</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>This is Hopshelf</h1>
          <h2>Where you can lend and borrow books in your neighborhood!</h2>
        </div>

        <div id="getting-started">
          <h1>An Open Online Community of Local People who Read</h1>
          <h2>If you&rsquo;re new to Hopshelf, it's easy to get in the Loop!</h2>

          <ol>
            <li>
              <h2>Sign up in your region</h2>
              <p>In seconds you will become part of a local network of readers</p>
            </li>

            <li>
              <h2>Furnish your own bookshelf</h2>
              <p>Show people what kind of books you own, and tell everyone what you think of them! </p>
            </li>

            <li>
              <h2>Search bookshelves in your area!</h2>
              <p>See what books are in shelves near you, and when you find one you want to read, ask to borrow or trade! </p>
            </li>
          </ol>
        </div>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
