%h1 Contact Shelfwire
%h2 Feedback? Problems? Suggestions? Love letters? 
%h3 Let us know what you think and we'll get back to you in a flash.
%br/
= render 'contactform'
%br/
=link_to 'Keep Browsing', '/genres'
= link_to 'Back', users_path

