.center
  %br
  %h1 Contact Shelfwire
  %br
  %h2 Feedback? Problems? Suggestions?
  %h3 Let us know what you think and we'll get back to you in a flash.
  %br/
  = render 'contactform'
  %br/
  %br
  .nlnk
    =link_to ' Keep Browsing', '/genres'
  %br
  %br
  .nlnk
    = link_to ' Home', '/'

