/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {    
   height: 100%; 
   background-image: url(fabric_plaid.png);
}

a:hover{
  background-color: transparent !important;
}

.nav{
  margin-top: 4px;
  margin-left: 10px;
  clear:both;
  position:absolute;
}

.linx{
  float: left;
  margin-left: 10px;
}

.greet{
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}

/*a  {color: #333}
a:hover {
  color: white;
  text-decoration: none;
}*/

#maincontent {
  height: auto;
  overflow: auto;
  margin-top: 35px;
  padding-bottom: -100px;
  position: relative;
}
#page-wrap{
  overflow: auto;
  padding-bottom: -130px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 20px;
  position: relative;
}

.sidediv{
  width: 540px;
  height: 800px;
  background-image: url('mirror.png');
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=3);
  float:right;
  clear:both;
  display: block;
  }


h1 { 
font-family: Georgia, sans-serif; 
font: normal;
color: #73715b;
}
h2 { 
font-family: Georgia, serif; 
font-weight: 100;
line-height: 25px;
font: normal;
color: #73715b;
}

.header{
       position: absolute;
       top: 0;
       left: 0;
       height: 30px;
       background-image: url("ribbonlong.png");
       width: 100%;
       padding-bottom: -20px;
       border-bottom: 5px solid #73715b;
       -moz-box-shadow:    0px 2px 2px 2px #bab9ae;
       -webkit-box-shadow: 0px 2px 2px 2px #bab9ae;
       box-shadow:         0px 2px 2px 2px #bab9ae;

     }

.box{
  background-image: url(groovepaper.png);
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  height: 100%;
  margin-bottom: 18px;
  -moz-box-shadow:    1px 3px 5px 6px #ccc;
  -webkit-box-shadow: 1px 3px 5px 6px #ccc;
  box-shadow:         1px 3px 5px 6px #ccc;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;}


.botright{
    display:block;
    position:fixed;
    margin-right: 140px;
    margin-top: -3px;
    top:0;
    right:0;
    width:60px;
}

.genrebox{
  height: 100%;
  margin-left: 15px;
  overflow: hidden;
  padding-bottom: 30px;
  line-height: 20px;
}

.linkopacity {
filter:alpha(opacity=60);
-moz-opacity: 0.6; 
opacity: 0.6;
-khtml-opacity: 0.6;}

.linkopacity:hover {
filter:alpha(opacity=100); 
-moz-opacity: 1.0; 
opacity: 1.0;
-khtml-opacity: 1.0; }

/*.shel {
   height: 150px;
   position: relative;
   margin-top: 110px;
   clear: both;
   margin-left: 70px;
   margin-bottom: auto;
   width: 100%;
   background-image: url("shelf.png");
   opacity: 0.5;
       -moz-opacity: 0.5;
       filter:alpha(opacity=5);
}*/