/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {    
  height: 100%; 
  background-image: url(fabric_plaid.png);
}


a:hover{
  background-color: transparent !important;
}

.nav{
  margin-top: 4px;
  margin-left: 10px;
  clear:both;
  position:absolute;
}

.linx{
  float: left;
  margin-left: 10px;
}

.greet{
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}

/*a  {color: #333}
a:hover {
  color: white;
  text-decoration: none;
}*/

#maincontent {
  height: auto;
  overflow: auto;
  margin-top: 35px;
  padding-bottom: -100px;
  position: relative;
  right: 0;
  bottom: 0;
}

#page-wrap{
  overflow: auto;
  padding-bottom: -130px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 20px;
  position: relative;
}

.sidediv{
  width: 540px;
  height: 800px;
  background-image: url('mirror.png');
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
  float:right;
  clear:both;
  display: block;
}


h1 { 
  font-family: Georgia, sans-serif; 
  font: normal;
  color: #73715b;
  }
  h2 { 
  font-family: Georgia, serif; 
  font-weight: 100;
  line-height: 25px;
  font: normal;
  color: #73715b;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  /*       background-image: url("ribbonlong.png");
  */
  background-color: #ccc;
  width: 100%;
  padding-bottom: -20px;
  border-bottom: 5px solid #73715b;
  -moz-box-shadow:    0px 2px 2px 2px #bab9ae;
  -webkit-box-shadow: 0px 2px 2px 2px #bab9ae;
  box-shadow:         0px 2px 2px 2px #bab9ae;

     }

.header, #maincontent {
  min-width: 900px;
  width: 100%;
}


.fill {
  width: 100%;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}



.box{
  background-image: url(groovepaper.png);
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  height: 100%;
  margin-bottom: 18px;
  -moz-box-shadow:    1px 3px 5px 6px #ccc;
  -webkit-box-shadow: 1px 3px 5px 6px #ccc;
  box-shadow:         1px 3px 5px 6px #ccc;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.box:hover{
  -moz-box-shadow:    3px 3px 5px 6px #c2c2c2;
  -webkit-box-shadow: 3px 3px 5px 6px #c2c2c2;
  box-shadow:         3px 3px 5px 6px #c2c2c2; 
}


.botright{
  display:block;
  position:fixed;
  margin-right: 8px;
  margin-top: 3px;
  top:0;
  right:0;
  width:60px;
}

.footer{
  display:block;
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  height: 40px;
  background-image: url('ribbonlong.png');
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

.genrebox{
  height: 100%;
  margin-left: 15px;
  overflow: hidden;
  padding-bottom: 30px;
  line-height: 20px;
}

.linkopacity {
  filter:alpha(opacity=60);
  -moz-opacity: 0.6; 
  opacity: 0.6;
  -khtml-opacity: 0.6;
}

.linkopacity:hover {
  filter:alpha(opacity=100); 
  -moz-opacity: 1.0; 
  opacity: 1.0;
  -khtml-opacity: 1.0; 
}

.left{
  float:left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}