/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {    
  height: 100%; 
  background-image: url(fabric_plaid.png);
}
input[type="submit"]
{
  background:url(nlink.png);
}
input[type="submit"]:hover{
  background-image: url(nhlink.png);
}
.commentz{
  float: left;
  width: 600px !important;
  clear:both;
  margin-top: 40px;
}

.deso{
  width: 620px;
  margin-left: 16px;
}

.singlecomment{
  margin-left: -35px !important;
  background-image: url(groovepaper.png);
  padding-bottom: 15px;
  padding-left: 15px;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-box-shadow:    inset 0 0 6px #5c5c5c;
  -webkit-box-shadow: inset 0 0 6px #5c5c5c;
  box-shadow:         inset 0 0 6px #5c5c5c;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
}


a:hover{
  background-color: transparent !important;
  -moz-text-shadow:      1px 1px #333;
  -webkit-text-shadow:   1px 1px #333;
  text-shadow:           1px 1px #333;
}

.nav{
  margin-top: 4px;
  margin-left: -4px;
  clear:both;
  position:absolute;
}

.linx{
  float: left;
  margin-left: 10px;
}

.nlnk{
  padding-top: 6px;
  text-align: center;
  height: 27px;
  width: 100px;
  background-image: url(nlnk.png);
  background-repeat: no-repeat;
  margin-top: -7px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin-right: 2px;
}
.nlnk a{
  display: inline-block;
  height: 25px;
  width: 100px;
  color: #333;
}
.nlnk:hover{
  background-image: url(nhlink.png);
  background-repeat: no-repeat;
}
.dlnk{
  width: 200px;
  height: 31px;
  text-align: center;
  background-image: url(dlnk.png);
  background-repeat: no-repeat;
  float:left;
  margin-bottom: 2px;
}
.dlnk:hover{
  background-image: url(dhlink.png);
  background-repeat: no-repeat;  
}
.dlnk a{
  margin-top: 4px;
  display: inline-block;
  width: 200px;
  height: 31px;
  color: #333;
}


.greet{
  margin-top: 0px;
  margin-left: 22px;
  float: left;
  color: #DAD8B0;
}

.pice{
  height: 34px;
  width: 36px;
  background-image: url(logs.png);
  clear:both;
  float: right;
  margin-right: 12px;
  margin-top: 2px;
}
.logo{
  width: 267px;
  margin-top: 5px;
  float: right;
  right: 0;
  margin-right:42px;
}

.logo a{
  display: inline-block;
  height: 54px;
  width: 245px;
}

#maincontent {
  height: auto;
  overflow: auto;
  margin-top: 35px;
  padding-bottom: -100px;
  position: relative;
  right: 0;
  bottom: 0;
}


#page-wrap{
  overflow: hidden;
  padding-bottom: 204px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 20px;
  position: relative;
}


.sidediv{
  width: 540px;
  height: 800px;
  background-image: url('mirror.png');
  opacity: 0.2;
  margin-top: -20px;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
  float:right;
  clear:both;
  display: block;
}


h1 { 
  font-family: Georgia, sans-serif; 
  font: normal;
  color: #73715b;
  }
  h2 { 
  font-family: Georgia, serif; 
  font-weight: 100;
  line-height: 25px;
  font: normal;
  color: #73715b;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  /*       background-image: url("ribbonlong.png");
  */
  background-color: #333;
  width: 100%;
  padding-bottom: -20px;
  border-bottom: 5px solid #73715b;
  -moz-box-shadow:    0px 2px 2px 2px #bab9ae;
  -webkit-box-shadow: 0px 2px 2px 2px #bab9ae;
  box-shadow:         0px 2px 2px 2px #bab9ae;

     }

.header, #maincontent {
  min-width: 900px;
  width: 100%;
}


.fill {
  width: 100%;
}

.content {
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 10px;
  height: 100%;
}

.centerbtn{
  text-align: center;
  margin: 0 auto;
  width: 101px;
  height: auto;
}

.box{
  background-image: url(groovepaper.png);
  border: 1px groove #f2f2f2;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 18px;
  -moz-box-shadow:    0px 2px 5px 1px #ccc;
  -webkit-box-shadow: 0px 2px 5px 1px #ccc;
  box-shadow:         0px 2px 5px 1px #ccc;
  border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.box:hover{
  -moz-box-shadow:    0px 3px 4px 3px #c2c2c2;
  -webkit-box-shadow: 0px 3px 4px 3px #c2c2c2;
  box-shadow:         0px 3px 4px 3px #c2c2c2; 
}

.genpic{
  margin-left: -45px;
  margin-bottom: 9px;
  -moz-box-shadow:    0px 3px 5px 3px #adadad;
  -webkit-box-shadow: 0px 3px 5px 3px #adadad;
  box-shadow:         0px 3px 5px 3px #adadad;  
}
.regpic{
  margin-left: 50px;
  margin-bottom: 9px;
  -moz-box-shadow:    0px 3px 5px 3px #adadad;
  -webkit-box-shadow: 0px 3px 5px 3px #adadad;
  box-shadow:         0px 3px 5px 3px #adadad; 
}

.botright{
  display:block;
  position:fixed;
  margin-right: 8px;
  margin-top: 13px;
  top:0;
  right:0;
  width:60px;
}

.botright a{
  color: #ccc;
}

.feet{
   height: 130px;
   position: relative;
   display: block;
   margin-top: -230;
   clear: both;
   min-width: 900px;
   max-width: 1260px;
   width: 100%;
   padding: 0px 10px 0px 10px; 
   margin-left: -10px;
   background: #a6a383;
   border-top: 20px solid #bab9ae;
}
.tagline{
  font: normal 45px Georgia, sans-serif;
  margin-left: 20px;
  color: #bab9ae;
  margin-top: 10px;
}
.footlg{
  height: 67px;
  width: 70px;
  float: left;
  clear:both;
  background-image: url(lgo.png);
  margin-top: -6px;
  margin-right: 8px;
}

.footer{
  display:block;
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  height: 45px;
  background-image: url('ribbonlong.png');
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

.genrebox{
  height: 100%;
  margin-left: 15px;
  overflow: hidden;
  padding-bottom: 30px;
  line-height: 20px;
}

.linkopacity {
  display:none;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6; 
  opacity: 0.6;
  -khtml-opacity: 0.6;
}

.linkopacity:hover {
  filter:alpha(opacity=100); 
  -moz-opacity: 1.0; 
  opacity: 1.0;
  -khtml-opacity: 1.0; 
}

.left{
  float:left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}