/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {    
   height: 100%; 
   background-image: url(fabric_plaid.png);
}



.nav{
  margin-top: 4px;
  margin-left: 10px;
}

.linx{
  float: left;
  margin-left: 10px;
}

.greet{
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}

a  {color: #333}
a:hover {
  background-color: #8f8d72;
  color: white;
  text-decoration: none;
}

#container {
  height: auto;
  overflow: auto;
  margin-top: 35px;
  padding-bottom: -100px;
}
.content{
  overflow: auto;
  padding-bottom: -130px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 20px;
  position: relative;
}

h1 { 
font-family: Georgia, sans-serif; 
font: normal;
color: #73715b;
}
h2 { 
font-family: Georgia, serif; 
font-weight: 100;
line-height: 25px;
font: normal;
color: #73715b;
}

.header{
       position: absolute;
       top: 0;
       left: 0;
       height: 30px;
       background-image: url("ribbonlong.png");
       width: 100%;
       padding-bottom: -20px;
       border-bottom: 5px solid #73715b;
     }

/*.shel {
   height: 150px;
   position: relative;
   margin-top: 110px;
   clear: both;
   margin-left: 70px;
   margin-bottom: auto;
   width: 100%;
   background-image: url("shelf.png");
   opacity: 0.5;
       -moz-opacity: 0.5;
       filter:alpha(opacity=5);
}*/