/*.shelf{
       position: absolute;
       float: bottom;
       height: 222px;
       background-image: url("shelf.png");
       width: 1214px;
       padding-bottom: -20px;
/*       opacity: 0.5;
       -moz-opacity: 0.5;
       filter:alpha(opacity=5);
     }
.container{
  margin-left: auto;
  margin-right: auto;
  width: %90;

}*/
