// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Georgia;
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  color: #8f8d72;
}
header h2{
  font-family: georgia;
  margin-top: 130px;

}

h2{
  font-family: georgia;
  font-weight: 100;
  line-height: 1;
}



a  {
  font-family: lucida grande;
  font-weight: 100;
  color: #616b54;
  text-decoration: none;
}


a:hover {
  background-color: #8f8d72;
  color: white;
  text-decoration: none;
}


#page {
  background-image: url(fabric_plaid.png);
  width: 850px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 30px;
  min-height: 100%;
}



.loggedon {
  height: 60px;
  width: 200px;
  margin-top: 8px;
  margin-left: 265px;
  text-align: center;
}
.lbtn{
  clear:both;
  width: 175px;
  margin-left: 70px;
  text-align: center;
  height: 23px;
  background-image: url(hlink.png);
  -moz-box-shadow:    1px 1px 5px 1px #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ccc;
  box-shadow:         1px 1px 5px 1px #ccc;
  display: block;
}



#leftside{
  float:left;
  clear:both;
  width: 95px;
  height: 120px;
  text-align: right;
  margin-top: 108px;
  margin-right: 39px;
  margin-left: -16px;
}

#rightside {
  float: left;
  height: 120px;
  width: 95px;
  text-align:left;
  margin-top:78px;
  margin-left: -15px;
}

#leftside a, #rightside a, .loggedon a{
  display: inline-block;
  width: 110px;
  height: 23px;
  margin-top: -2px;
  color: gray;
  font-size: 22px;
  font-weight: 100;
  font-family: sans-serif;
}
.btn{
  width: 112px;
  text-align: center;
  height: 23px;
  margin: 8px;
  background-image: url(hlink.png);
  -moz-box-shadow:    1px 1px 5px 1px #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ccc;
  box-shadow:         1px 1px 5px 1px #ccc;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 7px;
  margin-bottom: 11px;
}

.btn:hover, .lbtn:hover{
  background-image: url(hhlink.png);
}


#leftside h2, #rightside h2{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
}

#leftside h2{
margin-left: 29px;}
#rightside h2{
  margin-left: 34px;
}

.links{
  list-style:none;
  width: 107px;
  line-height: 2em;
  margin-left: -30px;
}



#slideshow{
  float:left;
  width: 520px;
  margin: 10px;
  padding: 0;
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.slideshow {
  z-index: 10;
  top: 48%;
  left: 48%;
  border: 1px solid #CCC;
}

#slideshow{  
  -moz-box-shadow:    0px 3px 5px 3px #adadad;
  -webkit-box-shadow: 0px 3px 5px 3px #adadad;
  box-shadow:         0px 3px 5px 3px #adadad;
}

.slide{
  width: 600px;
  height: 400px;
}







#bookstack{
  float:left;
  height: 256px;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

#content {
  float: left;
  background-image: url("Wood_Poplar.png");
/*  border: 3px solid #aaa;
*/border-top: none;
  padding: 25px;
  width: 500px;
  height: 100%;
  bottom: 0;
  margin-bottom: -48px;

}


#footer {
  clear: both;
}

#header, #intro {
  padding-left: 75px;
  padding-right: 30px;
}


#header {
  background-repeat: no-repeat;
  background-position: top left;
  height: 90px;
}
#header h1, #header h2 {margin: 3px}

#header h2 {
  color: #73715B;
  font-weight: normal;
  font-size: 16px;
  margin-top: 12px;
}


#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #8f8d72;
}

.introbox{
  width: 380px;
  height: 140px;
  background-image: url(groovepaper.png);
  padding: 10px;
  margin-left: -8px;
  -moz-box-shadow:    1px 3px 5px 3px #ccc;
  -webkit-box-shadow: 1px 3px 5px 3px #ccc;
  box-shadow:         1px 3px 5px 3px #ccc;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#intro {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}

#intro h1 {
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  font-color: #5E5D4B;
}

#intro h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #5e5d4b;
  margin-bottom: 5px;
}
#intro ul {
  margin-left: 0;
  padding-left: 0;
}
#intro li {
  font-size: 18px;
  color: #5e5d4b;
  margin-bottom: 25px;
}
#intro li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #8f8d72;
}
#intro li p {
  color: #5E5D4B;
  font-size: 13px;
}

#sidebar {
  float: right;
  width: 175px;
    border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#sidebar ul {
  font-family: Georgia serif;
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  color: #8f8d72;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}
