// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 58px;
  font-weight: 100;
  color: #8f8d72;
}
header h2{
  margin-top: 130px;
}

.logo{
  height: 196px;
  width: 320px;
  margin-left: -100px;
  margin-top: -13px;
}

a  {color: #333}
a:hover {
  background-color: #8f8d72;
  color: white;
  text-decoration: none;
}


#page {
  background-color: #fff;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 30px;
  min-height: 100%;
}

#bookstack{
  float:left;
  height: 256px;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

#content {
  float: left;
  background-image: url("Wood_Poplar.png");
/*  border: 3px solid #aaa;
*/border-top: none;
  padding: 25px;
  width: 500px;
}

#sidebar {
  float: right;
  width: 175px;
}

#footer {
  clear: both;
}

#header, #about, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
}


#header {
  background-repeat: no-repeat;
  background-position: top left;
  height: 90px;
}
#header h1, #header h2 {margin: 3px}
#header h2 {
  color: #8f8d72;
  font-weight: normal;
  font-size: 16px;
  margin-top: 40px;
}


#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #8f8d72;
}

#about-content {
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -55px;
  margin-right: -10px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content ul {
  padding: 0;
  list-style-type: none;
}

#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}


#getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#getting-started h1 {
  margin: 0;
  font-size: 20px;
}
#getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #5e5d4b;
  margin-bottom: 25px;
}
#getting-started ul {
  margin-left: 0;
  padding-left: 0;
}
#getting-started li {
  font-size: 18px;
  color: #5e5d4b;
  margin-bottom: 25px;
}
#getting-started li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #8f8d72;
}
#getting-started li p {
  color: #5E5D4B;
  font-size: 13px;
}


#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  color: #8f8d72;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

.filename {
  font-style: italic;
}