// Place all the styles related to the region controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.santa{
  margin-left: 15px;
  margin-right: 4px;
}


.regpic{
  margin-left: 50px;
  margin-bottom: 9px;
  -moz-box-shadow:    0px 3px 5px 3px #adadad;
  -webkit-box-shadow: 0px 3px 5px 3px #adadad;
  box-shadow:         0px 3px 5px 3px #adadad; 
}
