// Place all the styles related to the region controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
       position: fixed;
     }
.santa{
  margin-left: 15px;
  margin-right: 4px;
}