body {
  background-color: #fff;
  color: #474639;
  font-family: 'OpenSansRegular';
  font-weight: 100;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: 'OpenSansRegular';
  font-size: 13px;
  line-height: 18px; }





div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: #73715B;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
  -moz-text-shadow:      1px 1px #5c5c5c;
  -webkit-text-shadow:   1px 1px #5c5c5c;
  text-shadow:           1px 1px #5c5c5c;
  max-width: 250px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
}

.field_with_errors {
  padding: 2px;
  background-color: grey;
  display: table; 
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  }

#error_explanation {
  width: 400px;
  border: 2px solid gray;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 7px;
  background-color: #f0f0f0;
  border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: gray;
    color: #fff; }
  ul li {
    list-style-type: none !important;
    font-size: 12px;
     } }

ul {
  list-style-type: none !important;
}
