// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


     
.show_hide {
  display:none;
}

.slidingDiv {
  max-height:100%;
  background-color: #efedd8;
  padding:20px;
  margin-top:10px;
}

.thought {
  color: #8c8b7f;
}

#bookshelf{
  margin-left: 4px;
}

.blip{
  width: 550px;
  margin-left: 5px;
}

.flip{
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

.shelfname{
  height: 100%;
  line-height: 100%;
}

.shelflink{
  width: 300px;
  height: 55px;
  margin-top: 45px;
  margin-bottom: -35px;
  background-image: url('shelfsmall.png');
  text-align: center;
}

.go{
  padding-top: 26px;
}
h1{
  line-height: 100%;
}

.info{
  text-align:center;
  height: 100%;
}

.request{
  height: 112px;
  width: 130px;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.request a{
  display: inline-block;
  height: 112px;
  width: 130px;
}
.bookname{
  max-width: 600px;
  min-width: 400px;
  height: auto;
}


