// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


     
.show_hide {
  display:none;
}

.slidingDiv {
  max-height:100%;
  background-color: #efedd8;
  padding:20px;
  margin-top:10px;
}

.thought {
  color: #8c8b7f;
}

.blip{
  width: 550px;
  margin-left: 5px;
}

.flip{
  width: 300px;
  height: 100%;
}

.shelfname{
  height: 100%;
  line-height: 100%;
  margin-left: 30px;
}

.shelflink{
  width: 300px;
  height: 55px;
  background-image: url('shelfsmall.png');
  text-align: center;
}

.go{
  padding-top: 26px;
}
h1{
  line-height: 100%;
}

.info{
  text-align:center;
  height: 100%;
}