// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.show_hide {
  display:none;
}

.slidingDiv {
  max-height:100%;
  background-color: #73715b;
  padding:20px;
  margin-top:10px;
}

.thought {
  color: #8c8b7f;
}