.flip
  .box
    %h2 You Can Currently Connect on Shelfwire In:
  .blip
    - @regions.each do |region|
      %tr
        %td= link_to region.name, region
        %br/
        %br/

  .nlnk
    =link_to "Back Home", "/"