.flip
  .box
    %h2 Regions You Can Currently Connect on Whiteshelf In:
  .blip
    - @regions.each do |region|
      %tr
        %td= region.name
        / %td= link_to 'Show', '/regions/:id/user'
        %td= link_to 'Show', region
        %br/
        %br/

=link_to "Home", :root
