.flip
  .midpage
    %img(src="#{@region.path}" class="regpic")
    .box
      %h2.santa Bookshelves in #{@region.name}:
    
    .blip
      - @users.each do |user|
        %tr
          / %td= user.username.capitalize
          %td= link_to "#{user.username.capitalize}", user_books_path(user)
          %br/
          %br/
      -if @users.empty?
        %p This area is brand new. Register now to be the pioneer.
      %br/
      %br/
      .nlnk
        =link_to "Regions", "/regions/"