.flip
  %h2 Here is a List of the Shelves:
  .blip
    - @users.each do |user|
      %tr
        %td= user.username
        / %td= link_to 'Show', :region_user
        %br/
        %br/

=link_to "Home", :root