:javascript
  $(function() {
    $('.slide').crossSlide({
      sleep: 2,
      fade: 1
    }, [
      { src: '/assets/1.jpg' },
      { src: '/assets/6.jpg' },
      { src: '/assets/12.jpg' },
      { src: '/assets/9.jpg' },
      { src: '/assets/14.jpg' },
      { src: '/assets/8.jpg' },
      { src: '/assets/10.jpg' },         
      { src: '/assets/5.jpg' },
      { src: '/assets/7.jpg' },
      { src: '/assets/4.jpg' }
    ])
  });
#page

  #leftside
    %h2 Places
    %ul.links
      %li
        %a{:href => "/regions/1"} Santa Cruz
      %li
        %a{:href => "/regions/3"} Antelope V
      %li
        %a{:href => "/regions/2"} Bay Area

  #slideshow
    #slideshowWindow
      .slide
        = image_tag('/assets/1.jpg')
  .loggedon
    - if current_user
      %a{:href => "/regions/#{current_user.region_id}"} Others Near You
    %br
    - if current_user
      %a= link_to "Your Shelf", user_path(current_user.id)
#rightside
  %h2 Ideas
  %ul.links
    %li
      %a{:href => "/about"} About
    %li
      %a{:href => "/genres"} Subjects
    %li
      %a{:href => "/contacts/new"} Contact
