:javascript
  $(function() {
    $('.slide').crossSlide({
      sleep: 2,
      fade: 1
    }, [
      { src: '/assets/1.png' },
      { src: '/assets/6.png' },
      { src: '/assets/12.png' },
      { src: '/assets/9.png' },
      { src: '/assets/8.png' },
      { src: '/assets/10.png' },         
      { src: '/assets/5.png' },
      { src: '/assets/7.png' }
    ])
  });
#page

  #leftside
    %h2 Places
    %ul.links
      - @regions.each do |region|
        %li
          .btn
            %a{:href => region_path(region)}= truncate(region.name, :length => 10, :omission => '')

  #slideshow
    #slideshowWindow
      .slide
        = image_tag('/assets/1.png')

#rightside
  %h2 Ideas
  %ul.links
    %li
      .btn
        %a{:href => "/about"} About
    %li
      .btn
        %a{:href => "/genres"} Subjects
    %li
      .btn
        %a{:href => "/contacts/new"} Contact

