!!!
%link{:media => "screen", :rel => "StyleSheet", :src => "home.css", :type => "text/css"}/
%html
  %head
    %title Welcome to whiteshelf
  %body
    #page
      #sidebar
        %img.logo{:src => "/assets/books.png"}/
        %ul#sidebar-items
          %li
            %h3 Explore
            %ul.links
              %li
                %a{:href => "/regions/"} Regions
              %li
                %a{:href => "/genres"} Subjects
              %li
                - if current_user
                  %a{:href => "/regions/#{current_user.region_id}"} Others Near You
              %li
                - if current_user
                  %a.linky= link_to "Go to Your Shelf", user_path(current_user.id)

      #content
        #header
          %h1 whiteshelf
          %h2  Give Your Books A Life
        #intro
          .introbox
            %h1.line An Open Online Community of Local Minds and Idea Mines
            %p If you&rsquo;re new to Whiteshelf, it's easy to get in the Loop! Just sign up, furnish your own virtual bookshelf, and start connecting your collection with those of the people around you.
          %ul
            %p
              %h2 Your Books Gave You Something to Think About 
              %p Pay it forward by letting them venture into someone else's life for a little while; knowledge is power - spread it
            %p
              %h2 Reading Them Was A Two-Way Street
              %p The books you own can say a lot about you, and you can say a lot about them. Show the world what your thoughts are like
            %p
              %h2 Countless Books Spend Countless Hours On the Shelf
              %p Keep the pages alive and let their voices keep speaking. What may have become furniture in one person's hands could become an epiphany in someone else's. See what books are in shelves near you, and when you find one you want to read, ask to borrow or trade!
      #footer &nbsp;
