!!!
%link{:media => "screen", :rel => "StyleSheet", :src => "home.css", :type => "text/css"}/
%html
  %head
    %title Welcome to Hopshelf
  %body
    #page
      #sidebar
        %img.logo{:src => "/assets/books.png"}/
        %ul#sidebar-items
          %li
            %h3 There will be some links here
            %ul.links
              %li
                %a{:href => "http://guides.rubyonrails.org/"} Regions
              %li
                %a{:href => "http://api.rubyonrails.org/"} Subjects
              %li
                %a{:href => "/users/"} Others Near You
              %li
                - if current_user
                  %a.linky= link_to "Go to Your Shelf", user_path(current_user.id)

      #content
        #header
          %h1 whiteshelf
          %h2 Where you can lend and borrow books in your neighborhood!
        #getting-started
          %h1 An Open Online Community of Local People who Read
          %h2 If you&rsquo;re new to Whiteshelf, it's easy to get in the Loop!
          %ol
            %li
              %h2 Sign up 
              %p In seconds you will become part of a local network of readers
            %li
              %h2 Furnish your own bookshelf
              %p Show people what kind of books you own, and tell everyone what you think of them
            %li
              %h2 Search bookshelves in your area!
              %p See what books are in shelves near you, and when you find one you want to read, ask to borrow or trade!
      #footer &nbsp;
