!!!
%html
  %head
    %title Hopshelf
    = stylesheet_link_tag    "application" #maybe should change to :all
    = javascript_include_tag "application" #perhaps replace with :defaults
    = csrf_meta_tags
  %body
    #nav
        %= link_to "Register", new_user_path
    #container 
        .content
            = yield